{% set TITLE="提现记录" %}
{% extends AJAX? "_ajax.html": "_base.html" %}
{% block head %}
{% endblock %}

{% block body %}
    {% if AJAX %}
        {% include 'money/data-list.html' %}
    {% else %}
<div class="app nofooter">
    <header class="app-header">
        <a class="app-back" app-action="back"></a>
        <h1>{{TITLE}}</h1>
        <nav>
            <a href="javascript:;" class="fa fa-bars" app-action="menu"></a>
        </nav>
    </header>
    <main class="app-main">
        <div id="money-list">
            {% include 'money/data-list.html' %}
        </div>
    </main>
</div>
    {% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#money-list>table').scrollListPage();
});
</script>
{% endblock %}