{% set TITLE="提现记录" %}
{% extends "_base.html" %}
{% block head %}
{% endblock %}

{% block body %}
<div class="app nofooter">
    <header class="app-header">
        <a class="app-back" app-action="back"></a>
        <h1>{{TITLE}}</h1>
        <nav>
            <a href="javascript:;" class="fa fa-bars" app-action="menu"></a>
        </nav>
    </header>
    <main class="app-main">
        <div id="withdraw-list">
            {#% include 'trader/data-list.html' %#}
        </div>
    </main>
</div>
{% endblock %}