<div id="money-container">
    <ol class="breadcrumb">
        <li><a href="admin/"><i class="fa fa-home"></i> 首页</a></li>
        <li><a href="admin/money/">代理商</a></li>
        <li><a href="admin/money/withdraw/index">付费流水</a></li>
        <li class="active">列表</li>
    </ol>
    {% set url = url_path() %}
    {% set formUrl = url ~ '/#form/' %}
    {% set listUrl = url ~ '/#list' %}
    <div id="money-content" class="portlet hs-table">
        <header class="portlet_header">
            <h1>付费流水</h1>
            <nav id="money-bar">
                <form id="money-search-form" class="input-group" role="search">
                    <div class="input-group">
                        <input id="money-search-start" name="start" size="16" type="text" value="{{start|datetime}}" placeholder="开始日期" readonly class="form-control" />
                    </div>
                    <span class="input-group-btn">
                        <span class="input-group-addon">-</span>
                    </span>
                    <div class="input-group">
                        <input id="money-search-end" name="end" size="16" type="text" value="{{end|datetime}}" placeholder="结束日期" readonly class="form-control" />
                    </div>
                    <span class="input-group-btn">
                        <input type="hidden" id="money-search-parent-id" name="parent" value="{{parent}}" />
                        <button id="money-search-submit" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </form>
            </nav>
        </header>
        <main class="portlet_main">
            <table app-check-rel="#money-bar">
                <thead>
                    <tr>
                        <!--<th width="40" align="center"><input type="checkbox" app-check="all" /></th>-->
                        <th width="100">交易流水号</th>
                        <th width="100">用户ID</th>
                        <th width="100">用户昵称</th>
                        <th width="100" align="right">充值金额</th>
                        <th width="100" align="right">房卡数量</th>
                        <th width="100" align="right" class="hidden-800">交易状态</th>
                        <th width="160" class="hidden-800">交易时间</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for item in data.items %}
                    <tr app-check="on">
                        <td app-check="off">{{item.Transid}}</td>
                        <td align="center">{{item.Userid}}</td>
                        <td align="center">{{item.Nickname}}</td>
                        <td align="center">{{item.Money}}</td>
                        <td align="center" class="hidden-800">{{item.Quantity}}</td>
                        <td align="center" class="hidden-800">
                            {% if item.Result == constant('ModelMoneyInpour::SUCCESS') %}
                            成功
                            {% elseif item.Result == constant('ModelMoneyInpour::FAILURE') %}
                            失败
                            {% elseif item.Result == constant('ModelMoneyInpour::PROCESSING') %}
                            交易中
                            {% elseif item.Result == constant('ModelMoneyInpour::DELIVER') %}
                            发货中
                            {% endif %}
                        </td>
                        <td align="center" class="hidden-800">{{item.Transtime|datetime}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '_pagination.html' with {'url': listUrl} %}
        </main>
    </div>
    <script>
        $('#money-search-start, #money-search-end').datepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd"
        });
    </script>
</div>
