.app {
    /*position: absolute; top: 0; right: 0; bottom: 0; left: 0;*/
    min-height: 100%;
}
a.app-back {
    display: inline-block; 
    width: 44px; height: 44px; line-height: 44px; text-align: center;
    font-family: FontAwesome; font-size: 21px;
}
a.app-back:before {
    content: "\f104";
}
.app-header {
    position: fixed; top: 0; right: 0; left: 0; z-index: 30;
    margin: 0; padding: 0;
    height: 60px; line-height: 60px;
    background-color: #323d4b;
    color: #fff;
    user-select: none; -webkit-user-select: none;
}
.app-header a {
    color: #fff;
}
.app-header>a.app-back {
    position: absolute; top: 0; left: 0; bottom: 0;
    line-height: inherit; height: 100%;
}
.app-header>h1 {
    padding: 0; margin: 0;
    text-align: center; font-size: 21px; font-weight: normal; line-height: inherit;
    color: #4db3a5;
}
.app-header>nav {
    position: absolute; top: 0; right: 10px; bottom: 0;
}
.app-header>nav>a {
    display: inline-block; height: 100%; min-width: 44px;
    text-align: center;
}

.app-main {
    /*position: absolute; top: 60px; right: 0; bottom: 50px; left: 0;*/
    margin: 60px 0 50px;
}
.app-main>div {
    padding: 10px;
}

.app-footer {
    position: fixed; right: 0; bottom: 0; left: 0; z-index: 20;
    box-sizing: border-box;
    padding: 3px 0;
    background-color: rgba(50, 61, 75, .75);
    height: 50px;
    text-align: center;
}
.app-footer a {
    line-height: inherit;
}

.app.nofooter .app-main { margin-bottom: 0; }
.app.nofooter .app-footer { display: none; }

#main-menu {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 36;
    transform: translate3d(100%, 0, 0);
    transition: transform .2s;
    display: none;
}
#main-menu.on {
    transform: translate3d(0, 0, 0);
}
#main-menu>ul {
    position: absolute; top: 0; right: 0; bottom: 0;
    width: 75%; min-width: 240px; max-width: 420px;
    padding: 60px 24px 16px; margin: 0; list-style: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(50, 61, 75, .75);
}
#main-menu>ul>li>a {
    display: block;
    height: 44px; line-height: 44px; 
    margin: 2px 0;
}
#main-menu>ul>li>a>i.fa {
    width: 20px;
    font-size: 16px;
}
#main-menu-close {
    position: absolute; top: 0; right: 0;
    width: 44px; height: 44px; line-height: 44px; text-align: center;
    font-size: 16px;
}