html, body { height: 100%; }
a { color: #485a6a; }
a:hover { color: #5C9ACF; text-decoration: none; cursor: pointer; }
.form-control {
	height: 38px;
}

input[type="radio"] {
	display: none;
}
input[type="radio"] ~ label {
	display: inline-block; cursor: pointer;
    padding: 6px 12px;
    font-size: 15px; font-weight: normal;
	border: 1px solid #9cc2cb;
    border-radius: 4px;
	background-color: #9cc2cb;
	user-select: none; -webkit-user-select: none;
}
input[type="radio"] ~ label:before {
	float: left; padding-right: 6px;
	font-family: FontAwesome;
	content: "\f10c";
}
input[type="radio"]:checked ~ label {
	background-color: #78a300;
	border-color: #78a300;
	color: #fff;
}
input[type="radio"]:checked ~ label:before {
	content: "\f192";
}

.breadcrumb > li + li:before {
    font-family: FontAwesome;
    color: #485a6a;
    content: "\f105";
    padding: 0 5px;
}

.portlet {
	background-color: #fff;
	border-radius: 5px;
	padding: 16px;
}
.portlet>header {
	position: relative;
	border-bottom: 1px solid #eee;
}
.portlet>header>h1 {
	margin: 0; padding: 6px 10px 16px;
	font-size: 18px; font-weight: normal;
	color: #697882;
}
.portlet>header>nav {
	position: absolute; top: 0; right: 16px;
}
.portlet>main {
	padding: 10px;
}

#app-loading {
	opacity: .75;
	position: fixed; z-index: 100;
	top: 90px; left: 50%; margin-left: -25px; text-align: center;
	padding-top: 11px; width: 50px; height: 50px;
	color: #485a6a; background-color: rgba(99, 99, 99, .5);
	border-radius: 4px;
}

#app-notify {
	position: fixed;
	top: 60px;
	left: 50%;
	z-index: 99;
}
#app-notify>div:first-child, #app-notify>div:hover { opacity: 1; }
#app-notify>div {
	opacity: .75;
	transform: translate3d(-50%, -100%, 0);
	transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 80ms;
	margin-bottom: 6px;
}
#app-notify>div.app-notify-item {
	transform: translate3d(-50%, 0, 0);
}

.app-dialog {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 11;
	transition: transform .2s ease-in-out;
	transform: translate3d(0, -100%, 0);
	display: none;
}
.app-dialog.open {
	transform: translate3d(0, 0, 0);
}
.app-dialog-container {
	position: absolute;
	top: 40%; left: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 6px #999;
}
.app-dialog-header {
	position: relative;
	height: 44px; line-height: 44px;
	border-bottom: 1px solid #e5e5e5;
}
.app-dialog-title {
	display: block; padding: 0 16px;
	user-select: none; -webkit-user-select: none;
}
.app-dialog-close {
	position: absolute; top: 0; right: 0; bottom: 0;
	width: 44px; font-size: 14px;
	text-align: center;
	user-select: none; -webkit-user-select: none;
}
.app-dialog-body {
	min-width: 280px; 
	padding: 10px;
}
.app-dialog-content {
	min-height: 40px; margin: 0 6px;
	padding-bottom: 16px;
}
.app-dialog-footer {
	text-align: center; padding: 5px 10px 10px;
}
.app-dialog-footer button.btn {
	margin: 0 4px;
}