<div id="trader-container">
    <ol class="breadcrumb">
        <li><a href="admin/"><i class="fa fa-home"></i> 首页</a></li>
        <li><a href="admin/trader/">代理商</a></li>
        <li class="active">列表</li>
    </ol>
    <div id="trader-content" class="portlet hs-table">
        <header class="portlet_header">
            <h1>代理商</h1>
            <nav id="trader-bar">
                <button type="button" href="admin/trader/#form" class="btn btn-default" app-check-rel="off">新建</button>
                <a href="admin/trader/#form" class="btn btn-default disabled">新建</a>
            </nav>
        </header>
        <main class="portlet_main">
            <table app-check-rel="#trader-bar">
                <colgroup>
                    <col width="40" align="center" />
                    <col width="60" />
                    <col width="100" />
                    <col width="100" />
                    <col width="90" />
                    <col width="120" />
                    <col width="90" align="right" />
                    <col align="right" />
                    <col width="40" align="center" />
                    <col width="120" />
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" app-check="all" /></th>
                        <th>游戏ID</th>
                        <th>手机号</th>
                        <th class="hidden-480">微信号</th>
                        <th class="hidden-480">代理等级</th>
                        <th class="hidden-1024">上级代理</th>
                        <th>充值金额</th>
                        <th>可提余额</th>
                        <th>状态</th>
                        <th class="hidden-1024">注册时间</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for i in 0..20 %}
                    {#% for item in data.items %#}
                    <tr app-check="on">
                        <td><input type="checkbox" app-check="item" /></td>
                        <td app-check="off">{{item.Gameid}}</td>
                        <td>{{item.Phone}}</td>
                        <td class="hidden-480">{{item.Wechat}}</td>
                        <td class="hidden-480">{{item.Lv}}</td>
                        <td class="hidden-1024">{{item.Parent}}</td>
                        <td>{{item.Charge}}</td>
                        <td>{{item.Balance}}</td>
                        <td>{{item.Status}}</td>
                        <td class="hidden-1024">{{item.CTime}}</td>
                    </tr>
                    {#% endfor %#}
                    {% endfor %}
                </tbody>
            </table>
            {% include '_pagination.html' with {'__url': 'admin/trader/#Trader/list/'} %}
        </main>
    </div>
    <script>
        // $('#trader-content').hsTable();
    </script>
</div>