{% set TITLE='用户统计' %}
{% extends '_base.html' %}
{% block main %}
<div id="echarts" style="width:1000px; height:520px;">

</div>
{% endblock %}
{% block js %}
    <script src="js/admin/echarts.js"></script>
	<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('echarts'));

option = {
    title: {
        text: '用户统计',
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['日活跃','日注册']
    },
    toolbox: {
        show: true,
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            dataView: {readOnly: false},
            magicType: {type: ['line', 'bar']},
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis:  {
        type: 'category',
        boundaryGap: false,
        data: [
                {% for date, num in DAU %}
                    {{ date }} {% if loop.last == false %},{% endif %}
                {% endfor %}
        ]    
    },
    yAxis: {
        type: 'value',
        axisLabel: {
            formatter: '{value}'
        }
    },
    series: [
        {
            name:'日注册',
            type:'line',
            data:[
                {% for num in DNU %}
                    {{ num }} {% if loop.last == false %},{% endif %}
                {% endfor %}    
            ]
        },
        {
            name:'日活跃',
            type:'line',
            data:[
                {% for num in DAU %}
                    {{ num }} {% if loop.last == false %},{% endif %}
                {% endfor %}    
            ]
        }
    ]
};
			myChart.setOption(option);
    </script>
{% endblock %}
