<aside id="main-menu">
    <div id="main-menu-header">
        <a id="main-menu-close" href="javascript:;" class="fa fa-angle-left"></a>
    </div>
    <ul>
        <li>
            <a href="region/trader/list"><i class="fa fa-adn"></i> 下级代理</a>
        </li>
        <li>
            <a href="region/money/withdraw/form"><i class="fa fa-jpy"></i> 返现申请</a>
            <a href="region/money/log"><i class="fa fa-list-ol"></i> 提现记录</a>
        </li>
    </ul>
    <div id="main-menu-footer">
        <button type="button" class="btn btn-danger" app-action="logout">退出登录</button>
    </div>
</aside>