<!Doctype html>
<html>
<head>
<title>用户登录 - {{CONFIG.title}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<base href="{{BASE_URL}}" />
<link rel="stylesheet" href="css/3rd/bootstrap.min.css?v={{CONFIG.res3rdVersion}}" />
<link rel="stylesheet" href="css/region/global.css?v={{CONFIG.resVersion}}" />
<link rel="stylesheet" href="css/region/login.css?v={{CONFIG.resVersion}}" />
<script src="js/3rd/jquery-1.11.1.min.js?v={{CONFIG.res3rdVersion}}"></script>
<script src="js/admin/app.js?v={{CONFIG.resVersion}}"></script>
</head>
<body>
<div id="login-box">
    <form id="login-form" method="POST" action="admin/login-auth">
        <div id="login-caption">{{CONFIG.title}}</div>
        <div id="login-body" class="form-group">
            <input name="username" type="text" class="form-control" value="admin" placeholder="请输入帐号" autocomplete="off" app-required="on" />
            <input name="password" type="password" class="form-control" value="Lanxi123!" placeholder="请输入密码" app-required="on" />
            <input id="from" type="hidden" value="{{from}}" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success form-control">登录</button>
            <p>
                <a href="region/register" class="btn btn-info">注册</a>
                &nbsp; &nbsp;
                <a href="javascript:;">忘记密码？</a>
            </p>
        </div>
    </form>
</div>
<script>
    $('#login-form').on('submit', function() {
        App.submitForm(this, {
            success: function() {
                location.href = $('#from').val() || 'admin/';
            }
        });
        return false;
    });
</script>
</body>
</html>
