{% set TITLE="注册代理商" %}
{% extends "_base.html" %}

{% block head %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<div class="app nofooter">
    <header class="app-header">
        <a class="app-back" app-action="back"></a>
        <h1>{{TITLE}}</h1>
        <nav>
            <a href="region/login">登录</a>
        </nav>
    </header>
    <main class="app-main">
        <div>
            <form id="register-form" class="w">
                {#
                <div class="form-row">
                    <label class="form-label">游戏ID:*</label>
                    <input class="form-control" type="text" name="GameId" value="" placeholder="请输入游戏ID" autocomplete="off" app-required="on" />
                </div>
                <div class="form-row">
                    <label class="form-label">微信号:*</label>
                    <input class="form-control" type="text" name="Wechat" value="" name="Nickname" placeholder="请输入微信号" autocomplete="off" app-required="on" />
                </div>
                #}
                <div class="form-row">
                    <label class="form-label">手机号:*</label>
                    <input id="register-phone" class="form-control" type="tel" value="" name="Phone" placeholder="请输入手机号" autocomplete="off" app-required="on" />
                </div>
                <div class="form-row">
                    <label class="form-label">验证码:*</label>
                    <input class="form-control" type="tel" name="Captcha" placeholder="请输入验证码" autocomplete="off" app-required="on" />
                    <button id="register-captcha-btn" type="button" class="btn btn-info">获取验证码</button>
                </div>
                <div class="form-row">
                    <label class="form-label">密码:*</label>
                    <input id="register-password"  class="form-control" type="password" value="" name="Password" placeholder="请输入密码" app-required="on" />
                </div>
                <div class="form-row">
                    <label class="form-label">确认密码:*</label>
                    <input id="register-confirm" class="form-control" type="password" value="" name="Confirm" placeholder="请再次输入密码" app-required="on" />
                </div>
                <div class="form-row">
                    <input id="register-agree" type="checkbox" name="Agree" value="1" />
                    <label for="register-agree">同意《<a href="region/agreement">合作协议</a>》</label>
                </div>
                <div class="form-action">
                    <button id="register-submit-btn" type="submit" class="btn btn-success form-control">注册</button>
                </div>
                <input type="hidden" name="GameId" value="{{ userinfo._id }}" />
                <input type="hidden" name="Inviter" value="{{ inviter }}" />
            </form>
        </div>
    </main>
    <footer class="app-footer">
    </footer>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#register-captcha-btn').on('click', function() {
        var btn = $(this);
        var txt = btn.text();
        var sec = "{{constant('ModelAuthMain::AUTHCODE_EXPIRE')}}" * 1;
        var num = $.trim($('#register-phone').val());
        if(num == '') {
            App.alert('请输入有效的手机号码');
            return false;
        }
        btn.prop('disabled', 'true').addClass('btn-disabled');
        App.ajax({
            url: 'region/code',
            type: 'post',
            data: {'phone': num},
            dataType: 'json',
            success: function() {
                btn.data('interval') || btn.data('interval', setInterval(function() {
                    btn.text('验证码(' + sec + 's)');
                    if(sec == 0) {
                        clearInterval(btn.data('interval'));
                        btn.removeData('interval');
                        btn.prop('disabled', false).removeClass('btn-disabled').text(txt);
                    }
                    sec--;
                }, 1000));
            },
            error: function(jqXHR) {
                if(jqXHR.getResponseHeader('APP-CODE') == 10086) {
                    clearInterval(btn.data('interval'));
                    btn.removeData('interval');
                    btn.prop('disabled', false).removeClass('btn-disabled').text(txt);
                }
                btn.prop('disabled', false).removeClass('btn-disabled').text(txt);
            }
        });
    });
    $('#register-form').on('submit', function() {
        App.submitForm(this, {
            checkValidity: function() {
                var rs = false;
                if($('#register-password').val() != $('#register-confirm').val()) {
                    App.alert('两次输入的密码不一致，请重新输入');
                } else if(!$('#register-agree').prop('checked')) {
                    App.alert('请同意《合作协议》才能完成注册');
                } else {
                    rs = true;
                }
                return rs;
            },
            success: function() {
                App.Notific.success('注册成功');
                $('#register-submit-btn, #register-captcha-btn').prop('disabled', true);
                setTimeout(function() {
                    location.href = 'region/';
                }, 3 * 1000);
            }
        });
        return false;
    });
});
</script>
{% endblock %}
